@page
@model RankItems.Pages.Shows.CreateModel
@{
}

<br />
<h1>Edit Show</h1>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form method="POST">
    <input type="hidden" name="id" value="@Model.showInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.showInfo.name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Story</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="story" min="1" max="10" value="@Model.showInfo.story" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Visual Effects</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="VisualEffects" min="1" max="10" value="@Model.showInfo.VisualEffects" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Engagement</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="Engagement" min="1" max="10" value="@Model.showInfo.Engagement" />
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Shows/Index" role="button">Cancel</a>
        </div>
    </div>
</form>
